# Below a list of pip packages that can be installed recursively with 'pip install -r requirements.txt'.
# NOTE! Do not overwrite this file with the freeze-command.


pandas
numpy
scipy
matplotlib
plotly
openpyxl
gitpython
pandas_schema
xlsxwriter
reportlab
kaleido
ipywidgets
ipyfilechooser
ipython
pillow
setuptools


# packages required for notebook
ipywidgets
ipython
ipyfilechooser

